.my_logo{
    height: 40px;
}

.my_logo_big{
    height: 26px;
}

.aside{
    max-width: 68px;
    height: 100%;

    background-image: url(../img/sidebar-bg.png);

    /* test */
    background-color: #051e34;
}

@media screen and (min-width: 992px){
    .aside{
        max-width: 150px;
    }
}

.view{
    height: calc(100vh - 64px);   /*56px - navbar height*/
}

