/* color */
.my_dark_blu{
    background-color:#165bba;
}

/* logo */
.my_logo{
    height: 40px;
}

.my_logo_big{
    height: 26px;
}

/* aside */
.aside{
    max-width: 68px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);

    background-color: #051e34;
}

/* main */
.view{
    height: calc(100vh - 64px);   /*56px - navbar height*/
}

.list-group-item img{
    width: 30px;
}


/* Responsive */

@media screen and (min-width: 992px){
    .aside{
        max-width: 150px;
    }

    .offcanvas{
        max-width: 50%;
    }

}





