/* font */
body{
    font-family: 'Roboto', sans-serif;
}

/* color */
.my_dark_blu{
    background-color:#165bba;
}

/* logo */
.my_logo{
    height: 40px;
}

.my_logo_big{
    height: 26px;
}

/* aside */
.aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

/* main */
.view{
    height: calc(100vh - 64px);   /*56px - navbar height*/
}

.my_cell_long{
    width: 110px;
}
.my_cell_short{
    width: 70px;
}

td img{
    width: 30px;
}


/* ------------------------------- Responsive ------------------------------- */
@media screen and (min-width: 992px){
    .offcanvas{
        max-width: 50%;
    }

}





